body {
    background-color: powderblue;
}

h1 {
    color: rgb(177, 116, 233);
    font-style: verdana;
}

 { 
 width: 100%;
 position: absolute;
 top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: rgb(226, 132, 190);
    display: inline;
}

