body {
    background-color: rgb(216, 231, 231);
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: rgb(65, 63, 62);

}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: rgb(238, 196, 222);
    display: inline;
}