html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'arial';
  background: #F0EFE2;
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}


h1, h2, h3, h4, h5, h6 
{ font: normal 120% 'arial';
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% arial;
  color: #080808;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial;
  color: #727476;}

h5, h6
{ font: arial;
  padding: 0 0 15px 0;
  color: #000;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #dbdbd5;
  height: 240px;}

#logo
{ width: 825px;
  position: relative;
  height: 138px;
  background: #6f328b;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% arial;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: rgb(243, 130, 65);}

#menubar
{ width: 877px;
  height: 72px;
  padding: 50;
  background: #472a49;} 

ul#menu, ul#menu li
{ float: left;
  margin: 50; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

#site_content
{ width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: rgb(255, 255, 255);} 

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

#footer
{ width: 878px;
  font: normal 100% arial;
  height: 20px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #585859;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;}
